<mat-toolbar color="primary">
  <div class="logo" routerLink=""> 
    <img src="/assets/icon/logo.png" alt=""> 
    <p>Servers</p>
  </div>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon mat-button [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard">Dashboard</button>
      <button mat-menu-item routerLink="">Serverübersicht</button>
    </mat-menu>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <div class="footer-menu">
    <a routerLink="">Home</a>
    <a routerLink="/impressum">Impressum</a>
    <a routerLink="/datenschutz">Datenschutz</a>
  </div>

  <div class="footer-logo">
    <p>@Servers</p>
  </div>

  <div>
    <a href="https://github.com/RolandVas/server" target="_blank"><img src="/assets/icon/git.png"></a> 
  </div>
</footer>