:root {
    --white-color: white;
    --hover-white-color: rgb(204, 204, 204);
    --footer-color: #999999;
    --label-btn-color: #3f51b5;
    --label-btn-hover-color: #374594;
    --toggle-color: #919191;
    --toggle-dot-color: #7ED957;
    --error-color: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Fira sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0 !important;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    flex-direction: column;
}

.bg {
    padding: 24px 60px 24px;
}